/* body, h1, h2, h3, p, a, ul, li, input, img { */
body, h1, h2, h3, p, a, ul, li, img {
	border:none;
	padding:0;
	margin:0;
	list-style-type:none;
	text-decoration:none;
}
.clear_both {clear:both;}
.oculta_capa {display: none;}

/* ESTRUCTURA ------------------------------------------------------------ */
body {
	color:#313131;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 16px;
	height:100%;
}
#supercontenedor {
	float:left;
	width:100%;
}
#contenedor {
	float:left;
	width:100%;
	padding:0 0 170px 0;
}
#cabecera {
	position:relative;
	width:981px;
	height: 204px;
	margin: 0 auto;
	background: url(fondo_cabecera.jpg) no-repeat right top;
}
#index {
	width: 981px;
	margin:0 auto;
	height:100%;
	padding:20px 0 40px 0;
}
#index #columna1 {
	float: left;
	width: 241px;
	margin:0 0 0 22px;
	padding: 0;
}
#index #columna2 {
	float: left;
	width: 473px;
	margin:0 13px 0 13px;
	padding:0;
}
#index #columna3 {
	float: left;
	width: 218px;
	margin:0;
	padding:0;
}
#contenido {
	width: 981px;
	margin:0 auto;
	height:100%;
	padding:0 0 40px 0;
}
#contenido #columna1 {
	float: left;
	width: 217px;
	margin:0;
	padding: 0;
}
#contenido #columna2 {
	float: left;
	width: 478px;
	margin:0 34px 0 35px;
	padding:0;
}
#contenido #columna3 {
	float: left;
	width: 217px;
	margin:0;
	padding:0;
}
#contenido #columna_ancha {
	float: left;
	width: 695px;
	margin:0 0 0 35px;
	padding:0;
}

/* CABECERA ------------------------------------------------------------ */
#logo {
	position: absolute;
	width: 225px;
	height: 204px;
	left:0;
	top:0;
}
#idiomas {
	position: absolute;
	width: 90px;
	height: 22px;
	top:16px;
	left:775px;
}
#idiomas .select {
	background:#fff;
	border: 1px solid #cbcbcb;
	color: #604c3f;
	font-size: 10px;
	height: 22px;
	padding: 2px;
	width: 90px;
}
#redes {
	position: absolute;
	width: 100px;
	height: 22px;
	top:15px;
	left:870px;
}
#registro {
	position: absolute;
	width: 184px;
	height:97px;
	top:50px;
	left:775px;
}
#registro .textfield {
	color: #604c3f;
	font-size: 10px;
	height: 16px;
	padding: 2px 2px 0 2px;
	margin: 0 0 4px 0;
	width: 129px;
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: #cbcbcb #cbcbcb #cbcbcb #e8522b;
}
#registro .checkbox {
	float: left;
	margin: 2px 5px 0 0;
	background:#fff;
	border:none;
}
#registro .boton_acceso {
	width: 17px;
	height: 17px;
	background: transparent url(boton_form_over.png) no-repeat center center;
}
#registro .boton_acceso:hover {	background: transparent url(boton_form.png) no-repeat center center;}
#registro .recordar {
	color: #fff;
	font-size: 9px;
	margin:4px 0 0 0;
}
#registro .esquecin {
	color: #fff;
	font-size: 9px;
	line-height: 14px;
	margin: 0 0 0 18px;
}  
#registro a {color: #fff;} 
#registro a:hover {color: #acdbee;} 

/*MENU HORIZONTAL ------------------------------------------------------------ */
#menu {
	position: absolute;
	width: 764px;
	height:26px;
	background:#483f3e;
	top:151px;
	left:217px;
}
#menu li {
	color:#fff;	
	float:left;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
#menu li a:link, #menu li a:active, #menu li a:visited {
	color:#fff;
	float:left;
	height:20px;
	padding: 6px 10px 0 10px;	
}
#menu li a:hover {
	background:#fff;
	color:#e8522b;
	float:left;
	height:20px;
	padding: 6px 10px 0 10px;	
}
#menu .seleccion {
	background:#e8522b;
	color:#fff;
	float:left;
	height:26px;
	padding: 0;	
}
#menu .seccion {
	background:#fff;
	color:#e8522b;
	float:left;
	height:20px;
	padding: 6px 10px 0 10px;	
}
#menu li:first-child {margin: 0 0 0 8px;}

/*MENU VERTICAL   ------------------------------ */
#menu_secundario {
	width: 217px;
	font-size: 12px;
	line-height: 14px;	
	color: #313131;
}
#menu_secundario li  {
	display: block;
	margin: 5px 0 5px 10px;
	padding: 0 0 0 12px;
	background: url(bullet.gif) no-repeat left 4px;}
#menu_secundario .nivel1{
	background:none;
	border-top: 1px solid #d9d9d9;	
	padding: 13px 0 7px 18px;
	margin:0;
}
#menu_secundario li a:link, #menu_secundario li a:visited{color: #313131;}	
#menu_secundario li a:hover, #menu_secundario .seccion {color: #e8532c;}	
#menu_secundario li ul{
	padding: 0;
	margin: 0;
}	

/*CIERRE ------------------------------------------------------------ */
#contenedor_cierre {
	float:left;	
	width:100%;
	height:160px;
	margin: 0 auto;
	background:#f7f7f7;
	padding:20px 0 0 0;
	margin: -160px 0 0 0;
	position: relative;
}
#cierre {
	width:981px;
	height:160px;	
	margin: 0 auto;
}
#cierre li.logo {
	float:left;
	width:320px;
}
#cierre li.promoven {
	float:left;
	width:367px;
}
#cierre li.colabora {
	float:left;
	width:145px;
}
#cierre li.aviso {
	float:left;
	width:149px;
	text-align:right;
}
#cierre p{
	color:#464645;
	font-size:11px;
	margin: 4px 0 13px 0;
}
#cierre a{color:#464645;}
#cierre a:hover{color:#7B7B79;}

/*RUTA  ------------------------------------------------------------ */
#ruta {
	float:left;
	width: 756px;
	height:26px;
	margin: 8px 0 0 225px;
	font-size: 11px;
	color: #313131;
}
#ruta a{color: #313131;}
#ruta a:hover{color: #e8532b;}
#ruta span{color: #e8532b;}

/* CONTENIDO ------------------------------------------------------------ */
h1 {
	font-size: 21px;
	line-height: 30px;
	color: #2d2d2d;
	margin: 0 10px 5px 11px;
	text-transform: uppercase;
}
h2 {
	font-size: 21px;
	line-height: 28px;
	color: #e95b32;
	margin: 0 0 17px 0;
}
h2 span {
	margin: 0 0 0 14px;
	text-transform: uppercase;
}
h3 {
	font-size: 14px;
	line-height: 16px;
	color: #de3d18;
	margin:10px 0 0 0;
}
h4 {
	font-size: 12px;
	color: #483f3e;
	margin:0;
}
.cursiva {font-style: italic;}
.negrita {font-weight: bold;}
p {
	padding: 0 5px 0 0;
	margin: 10px 0 5px 0;
	color:#313131;
	font-size:11px;
	line-height: 16px;
}
.entradilla {
	padding: 0 5px 0 0;
	margin: 30px 11px 5px 11px;
	color:#313131;
	font-size:11px;
	line-height: 16px;
}
.destacado{
	color:#292929;
	font-size:11px;
	margin: 20px 10px 0 11px;
}
.destacado span {color: #e8532b;}
.enlace {
	font-weight: bold;
	color: #483f3e;
}
.enlace:hover {color: #e8532b;}
.linea {
	border-bottom: 1px solid #d9d9d9;
	margin:10px 0 10px 0;
	clear:both;
}
.mas{
	font-size: 10px;
	color:#e8532b;
	margin: 0 0 10px 0;
}
.mas a{
	color:#e8532b;
	background: url(ico_mas.gif) no-repeat 45px center;
	padding:0 17px 0 0;
}
.mas a:hover{color:#ec8367;}  
.mas_info{
	float:right;
	font-size: 9px;
	color: #e8522b;
	padding:0 16px 0 0;
	margin:0 0 6px 0;
	background: url(ico_mas.gif) no-repeat right center;
	clear:none;
}
.mas_info a{
	font-size: 9px;
	color: #e8522b;
}
.mas_info a:hover{color: #ec8367;}
.franja_naranja{
	background:#e8522b;	
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	padding:4px 10px 0 11px;
	margin: 7px 0 20px 0;
	width:150px;
}
.franja_gris{
	background:#483f3e;	
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	padding:4px 10px 0 11px;
	margin: 0 0 10px 0;
	width:79px;
}

/*AVANCE NOTICIAS INDEX ------------------------------------------------------------ */
#avance {
	float:left;
	width:242px;
	background:#f3f3f3;	
	margin:20px 0 20px 0;
}
#avance .informate{
	background:#483f3e;	
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	padding:4px 10px 0 11px;
	margin: 0 0 20px 0;
	width:68px;
}
#avance img{margin: 0 0 0 13px;}
#avance .titular{
	color:#393939;
	font-size:14px;
	font-weight:bold;
	margin: 15px 13px 0 13px;
}
#avance .titular span{text-transform:uppercase;}
#avance .titular a{	color:#393939;}
#avance .titular a:hover{color:#7b7b7b;}
#avance .fecha{
	color:#e7512c;
	margin: 0 13px 0 13px;
	font-weight: bold;
}
#avance p {
	margin: 0 13px 0 13px;
	color:#404040;
	font-size:11px;
	line-height: 16px;
}
#avance .linea {
	border-bottom: 1px solid #e2e2e2;
	margin:15px 0 10px 0;
}
#avance .mas{
	text-align: right;
	font-size: 10px;
	color:#e8532b;
	margin: 0 0 10px 0;
}
#avance .mas a{
	color:#e8532b;
	background: url(ico_mas.gif) no-repeat 80px center;
	padding:0 17px 0 0;
}
#avance .mas a:hover{color:#ec8367;}

/* QUE FACEMOS ------------------------------------------------------------ */
#que_facemos ul{
	float:left;
	width:207px;
	height:225px;
	background:#69c7eb;	
	margin:20px 12px 0px 12px;
	padding: 0 0 10px 0;
}	
#que_facemos li{
	float:left;
	width:196px;
	margin:0;
	padding:0;
}
#que_facemos li.titular{
	float:left;
	width:190px;
	height: 35px;
	color:#fff;
	text-transform:uppercase;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	margin: 10px 0 5px 10px;
}
#que_facemos li p{
	color:#292929;
	font-size:11px;
	line-height:13px;
	margin: 0 0 0 8px;
}
#que_facemos li a{color:#fff;}
#que_facemos li a:hover{color:#c3e9f7;}
#que_facemos li.imgContainer {
	width:207px;
	height:120px;
	overflow:hidden;
}

/* COLUMNA DERECHA   ------------------------------------------------------------ */
/* ALTA BOLETIN INDEX ------------------------ */
.tit_naranja{
	position:absolute;
	height:19px;
	width:179px;
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	padding:6px 0 0 9px;
	margin: 20px 0 30px 0;
	background: #e8522b;
}
.img_boletin{
	width:52px;
	height:47px;
	top:5px;
	left:165px;
	position:relative;
	background: url(ico_sobre.png) no-repeat;
}
#alta_boletin {
	float: left;
	width: 200px;
	margin: 0 0 0 8px;
	padding: 0;
}
#alta_boletin .textfield {
	color: #604c3f;
	font-size: 10px;
	height: 16px;
	padding: 0 2px 0 2px;
	margin: 0 0 6px 0;
	width: 150px;
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: #cbcbcb #cbcbcb #cbcbcb #e8522b;
}
#alta_boletin .checkbox {
	float: left;
	margin:2px 3px 8px 0px;
}
#alta_boletin .boton_acceso {
	width: 17px;
	height: 17px;
	background: transparent url(boton_form.png) no-repeat center center;
}
#alta_boletin .boton_acceso:hover {	background: transparent url(boton_form_over.png) no-repeat center center;}
#alta_boletin p {
	color: #483f3e;
	font-size: 9px;
	line-height: 16px;
	margin:4px 0 0 0;
}
#alta_boletin a { 	
	font-size: 9px;
	color: #483f3e;
}
#alta_boletin a:hover {color: #7B7B79;}
#alta_boletin .margen {margin: 0 0 0 18px;}

/* DOCUMENTOS e MATERIAIS RELACIONADOS------------------------------------------------------------ */
.tit_gris{
	position:absolute;
	height:19px;
	width:170px;
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	padding:7px 0 0 9px;
	margin: 20px 0 30px 0;
	background: #483f3e;
}
.img_documentos{
	width:63px;
	height:61px;
	top:5px;
	left:155px;
	position:relative;
	background: url(ico_documentos.png) no-repeat;
}
.img_destacados{
	width:63px;
	height:61px;
	top:5px;
	left:155px;
	position:relative;
	background: url(ico_destacados.png) no-repeat;
}
.documentos ul{
	font-size: 11px;
	line-height: 18px;
	color: #483f3e;
	margin: 10px 0 10px 15px;
}
.documentos li.nombre{
	font-size: 14px;
	font-weight:bold;
	margin: 0 0 0 4px;
	list-style-position: outside;
	list-style-image: url(ico_descarga.gif);
}
.documentos li a{color: #483f3e;}
.documentos li a:hover{color: #e7512c;}
.documentos li.fecha{
	font-size: 11px;
	font-weight:bold;
	margin: 0 0 4px 4px;
	color: #e7512c;
}
.documentos li.fecha span{color: #483f3e;}

.relacionados ul {
	font-size: 11px;
	line-height: 18px;
	color: #483f3e;
	margin: 12px 0 15px 15px;
/*	border-bottom: 1px solid #d9d9d9;*/
}
.relacionados ul.documentos li.nombre{
	font-size: 14px;
	font-weight:bold;
	margin: 0 0 0 4px;
	list-style-position: outside;
	list-style-image: url(ico_descarga.gif);
}
.relacionados ul.videos li.nombre{
	font-size: 14px;
	font-weight:bold;
	margin: 0 0 0 4px;
	list-style-position: outside;
	list-style-image: url(ico_video.gif);
}
.relacionados ul.otros li.nombre{
	font-size: 14px;
	font-weight:bold;
	margin: 0 0 0 2px;
}
.relacionados li a{
	color: #483f3e;
}
.relacionados li a:hover{
	color: #e7512c;
}
.relacionados li.fecha{
	font-size: 11px;
	font-weight:bold;
	margin: 0 0 4px 4px;
	color: #e7512c;
}
.relacionados li.fecha span{
	color: #483f3e;
	font-weight:normal;
}
.relacionados li.foto{
	float:left;
	font-size: 11px;
	font-weight:bold;
	margin: 0 0 20px 4px;
	color: #e7512c;
	width:117px;
	height:77px;
	overflow:hidden;
}
.relacionados li.paginacion{
	float:left;
	width:50px;
	height:20px;
	font-size: 11px;
	font-weight:bold;
	margin: 60px 0 0 10px;
	color: #313131;
	display: inline-block;
}
.relacionados li.paginacion a{color: #313131;}
.relacionados li.paginacion a:hover{color: #e8532c;}

/* CUADRO ENLACES ------------------------------------------------------------ */
.lista_enlaces {
	position:absolute;
	height:75px;
	width:206px;
	background: #e8532c;
	font-size: 11px;
	line-height: 18px;
	color: #483f3e;
	margin: 25px 0 10px 0;
	padding:0 10px 10px 0;
}
.img_flecha{
	width:47px;
	height:40px;
	top:5px;
	left:155px;
	position:relative;
	background: url(ico_flecha.png) no-repeat;
}
.lista_enlaces ul{
	font-size: 11px;
	line-height: 18px;
	color: #FFF;
	margin: 10px 0 10px 20px;
}
.lista_enlaces li{
	font-size: 12px;
	margin: 0 0 0 4px;
	list-style-position: outside;
	list-style-image: url(bullet_gris.gif);
}
.lista_enlaces li a{color: #fff;}
.lista_enlaces li a:hover{color: #f4a996;}

/*LISTAS COLUMNA DERECHA    ------------------------------------------------------------ */
.lista_bullet ul{margin:10px 0 10px 0;}
.lista_bullet li{
	float:left;
	width:210px;
	font-size: 11px;	
	line-height: 18px;
	color: #483f3e;
	margin: 0 0 4px 4px;
	list-style-position: inside;
	list-style-image: url(bullet.gif);		
	border-bottom: 1px solid #d9d9d9;
	padding:2px 0 8px 0;
}
.lista_bullet li img{
	padding: 5px 0 5px 0;
}
.lista_bullet li .enlace{
	font-weight:bold;
	color: #e8522b;
	margin: 0 0 0 10px;
}
.lista_bullet li .enlace:hover{color: #ec8367;}
.telefono {
	font-size: 16px;	
	font-weight:bold;
}
.imagen_centrada{
	float:left;
	margin:0 0 0 30px;
	text-align: center;
}

/*FORMULARIO DOAR AGORA   ------------------------------------ */
.paso_titulo{
	padding: 0 5px 0 0;
	margin: 15px 0 10px 11px;
	font-size:14px;
	line-height: 16px;
	color:#483f3e;
	font-weight:bold;	
}
.paso_titulo span{color: #e7512c;}
.paso{
	float:left;
	width: 445px;
	padding: 16px 16px 14px 16px;
	font-size:11px;
	line-height: 16px;
	color:#292929;
	background:#f4f3f3;
	margin: 0 0 20px 0;
}
.paso .login  {
	float: left;
	width: 290px;
	margin: 5px 0 0 80px;
}
.paso .login a {color: #4f4e4e;}
.paso .login a:hover {color: #e7512c;}
.paso .login label {
	float: left;
	width: 68px;
	margin: 0 0 4px 0;
	color: #4f4e4e;
	font-size: 11px;
}
.paso .login .textfield {
	float: left;
	width: 149px;
	height: 18px;
	margin:0 0 8px 0;
	padding: 0 3px 0px 3px;
	color: #222;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .login .boton_acceso {
	float:left;
	margin: 0 0 0 20px;
	width: 17px;
	height: 17px;
	background: transparent url(boton_form.png) no-repeat center center;
}
.paso .login .boton_acceso:hover {background: transparent url(boton_form_over.png) no-repeat center center;}
.paso .login .esquecin {
	float:left;
	width: 149px;
	margin: 0 0 4px 70px;
	color: #4f4e4e;
	font-size: 11px;
}

.paso .form  {
	float: left;
	width:100%;
	margin: 0;
}
.paso .form label {
	float: left;
	margin: 1px 4px 0 0;
	color: #4f4e4e;
	font-size: 11px;
}
.paso .form label.obligatorio{
	float: left;
	color: #e8522b;
	font-size: 12px;
	font-weight: bold;
	margin: 1px 4px 0 0;
}
.paso .form label.outra{
	float: left;
	color: #4f4e4e;
	font-size: 11px;
	margin: 2px 4px 0 4px;
}
.paso .form label.check{
	float: left;
	color: #4f4e4e;
	font-size: 11px;
	margin: 2px 30px 0 4px;
}
.paso .form .textfield {
	float: left;
	width:103px;
	height: 18px;
	margin:0 10px 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .textfield_corto {
	float: left;
	width:35px;
	height: 18px;
	margin:0 10px 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .apelidos {
	float: left;
	width:180px;
	height: 18px;
	margin:0 10px 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .via {
	float: left;
	width:170px;
	height: 18px;
	margin:0 10px 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .piso {
	float: left;
	width:80px;
	height: 18px;
	margin:0 10px 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .correo {
	float: left;
	width:155px;
	height: 18px;
	margin:0 10px 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .outra_cantidade {
	float: left;
	width:155px;
	height: 18px;
	margin:0 0 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .dc {
	float: left;
	width:15px;
	height: 18px;
	margin:0 6px 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .conta {
	float: left;
	width:70px;
	height: 18px;
	margin:0 0 5px 0;
	padding: 0 3px 0px 2px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .select {
	float: left;
	min-width: 58px;
	height: 20px;
	margin:0 15px 8px 0;
	padding: 0 0 0 1px;
	color: #4f4e4e;
	font-size: 11px;
	border: 1px solid #a9aaaa;
}
.paso .form .checkbox {
	float: left;
	margin:4px 0 8px 10px;
}
.paso .form .checkbox_120 {
	float: left;
	margin:4px 0 8px 57px;
}
.paso .form .checkbox_outra {
	float: left;
	margin:4px 0 8px 5px;
}
.paso .form .boton_acceso {
	float:left;
	margin: 0 0 0 4px;
	width: 17px;
	height: 17px;
	background: url(boton_form_over.png) no-repeat center center;
}
.paso .form .boton_acceso:hover {background: transparent url(boton_form.png) no-repeat center center;}
.paso .form .esquecin {
	margin: 0 0 4px 90px;
	color: #4f4e4e;
	font-size: 11px;
}
.paso .linea {
	border-bottom: 1px solid #d9d9d9;
	margin:20px 0 20px 0;
	clear:both;
}
.paso .necesitamos {
	margin:5px 0 20px 0;
	clear:both;
	font-style: italic;
	font-size:11px;
	line-height: 14px;
	color:#4f4e4e;
}
.paso .tarjeta {
	margin:5px 0 20px 230px;
	clear:both;
	font-style: italic;
	font-size:11px;
	line-height: 14px;
	color:#4f4e4e;
}
.paso .boton_gris {
	float:left;
	width:272px;
	height:22px;
	background:#483f3e;
	margin:6px 0 20px 70px;
	padding:3px 0 0 0;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	text-align: center;
}
.paso .boton_gris a{
	color:#fff;
	cursor:pointer;
}
.paso .boton_gris a:hover {color:#E5E5E5;}
.boton_doar {
	float:left;
	width:81px;
	height:28px;
	margin:5px 0 20px 0;
	padding: 0 0 0 10px;
	font-size:13px;
	font-weight:bold;
	text-align:left;
	color:#fff;
	cursor:pointer;
	background: #e8522b url(ico_doar.gif) no-repeat 58px center;
}
.boton_doar:hover{
	color:#F7BDAE;
}
.acepto_politica {
	float:left;
	width:215px;
	height:28px;
	margin:10px 0 20px 170px;
	padding:2px 0 0 0;
}
.acepto_politica a{
	font-size:12px;
	color:#e8522b;
	font-weight:bold;
}
.acepto_politica a:hover{color:#ff8666;}
.paso ul{}	
.paso li{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	line-height:18px;
}
.paso .mas_info{
	float:left;
	font-size: 9px;
	color: #e8522b;
	padding:0 16px 0 0;
	margin:2px 0 6px 10px;
	background: url(ico_mas.gif) no-repeat right center;
	clear:none;
}
.paso .mas_info_aportacion{
	float:left;
	font-size: 9px;
	color: #e8522b;
	padding:0 16px 0 0;
	margin:10px 0 6px 10px;
	background: url(ico_mas.gif) no-repeat right center;
	clear:none;
}
.paso .mas_info a, .paso .mas_info_aportacion a{color: #e8522b;}
.paso .mas_info a:hover, .mas_info_aportacion a:hover{color: #ec8367;}


/* FICHA TITULO  ------------------------------------------------------------ */
#ficha ul{
	float:left;
	width:467px;
	height:151px;
	background:#e7532b;	
	margin:12px 12px 20px 11px;
	padding:0;
}
#ficha ul.enmarcha{
	float:left;
	width:467px;
	height:151px;
	background:#68c7eb;	
	margin:12px 12px 20px 11px;
	padding:0;
}	
#ficha li{
	float:left;
	margin:0;
	padding:0;
}
#ficha li.titular{
	float:left;
	width:290px;
	color:#fff;
	font-size:15px;
	line-height:19px;
	margin: 60px 0 0 10px;
}
#ficha li p{
	float:left;
	width:290px;
	color:#292929;
	font-size:11px;
	line-height:13px;
	margin: 20px 0 0 8px;
}
#ficha li a{color:#fff;}
#ficha li a:hover{color:#c3e9f7;}
#ficha li.imgContainer {
	width:156px;
	height:151px;
	overflow:hidden;
}

/* FICHA CONTENIDO   ------------------------------------------------------------ */
.lista_ficha {	
	font-size: 12px;
	color: #313131;
	margin:3px 0 6px 0;
	padding: 3px 0 6px 0;
}
.lista_ficha ul{	
	font-size: 12px;
	color: #313131;
	margin:3px 0 6px 0;
	padding: 3px 0 6px 0;
}
.lista_ficha li {
	color: #313131;
	line-height: 15px;
	padding: 3px 0 0 0;
	margin: 0 0 10px 10px;
}	
.lista_ficha li ul li {
	font-size: 11px;
	color: #313131;
	line-height: 18px;
	padding: 0 0 0 12px;
	margin: 0 0 0 32px;
	background: url(bullet.gif) no-repeat left center;
}	
.lista_ficha li ol {
	padding: 0 ;
	margin: 0 0 0 18px;
}
.lista_ficha li ol li {
	font-size: 11px;
	color: #313131;
	line-height: 16px;
	margin: 0 ;
}
.lista_ficha .entrada{
	font-size: 13px;
	color: #e7522b;
	font-weight:bold;
}
